<div>
    <form action="/api/user" enctype="multipart/form-data" method="post">
        <div>
            <label>Nombre</label>
            <input name ="first_name" id="first_name">
        </div>
        <div>
            <label>Apellido</label>
            <input name ="last_name" id="last_name">
        </div>
        <div>
            <label>Email</label>
            <input name ="email" id="email">
        </div>
        <div>
            <label>Imagen</label>
            <input type="file" name="thumbnail" id="thumbnail">
        </div>
        <input type="submit" value="Submit">
    </form>
</div>